<div class="asideBar d-flex align-items-center">
  <div class="nav">
    <div class="d-flex align-items-center justify-content-between w-100">
      <div class="title d-flex flex-column">
        <small>Despesa</small>
        <b>Anotações</b>
      </div>

    <div class="d-flex align-items-center">
      <div class="dropdown">
        <i class="bi bi-bell sino-notificacoes position-relative dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" appDropdownOnHover [menu]="dropDownMenu">
          <span *ngIf="qtdNotificacoes" class="position-absolute badge rounded-pill bg-danger">
            {{ qtdNotificacoes }}
          </span>
        </i>

        <ul class="dropdown-menu" #dropDownMenu>
          <li><a class="dropdown-item" href="#">Adicionar nova notificação</a></li>
          <app-mensagem [notificacoes]="notificacoes"></app-mensagem>
        </ul>
      </div>

      <p class="nome">{{ usuario }}</p>
      <i class="bi bi-box-arrow-right logout" (click)="logout()"></i>
    </div>
    </div>

  </div>
</div>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
