<div class="asideBar d-flex align-items-center">
  <div class="nav">
    <div class="d-flex align-items-center justify-content-between w-100">
      <div class="title d-flex flex-column">
        <small>Despesa</small>
        <b>Anotações</b>
      </div>

      <ul class="ul">
      </ul>

    <div class="d-flex align-items-center">
      <div class="d-flex">
        <i class="bi bi-bell sino-notificacoes position-relative">
          <span class="position-absolute badge rounded-pill bg-danger">
            1
          </span>
        </i>
      </div>

      <p class="nome">{{ usuario }}</p>
      <i class="bi bi-box-arrow-right logout" (click)="logout()"></i>
    </div>
    </div>

  </div>
</div>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
